#navbar {
  display: flex;
  margin: 12px;
  justify-content: space-around;
  position: sticky;
  align-items: center;
  background-color: #0b0b0b;
  color: white;
  z-index: 10;
  transition: all 300ms ease;
  display: flex;
  .brand__container {
    display: flex;

    .image {
      margin-top: 12px;
      img {
        width: 78px;
      }
    }

    .toggle {
      display: none;
    }
  }
  .links {
    ul {
      display: flex;
      align-items: center;
      gap: 2rem;
      li {
        a {
          text-decoration: none;
          color: inherit;
          &:hover {
            @include gradientText;
          }
        }
      }
      button {
        padding: 0.5rem;
        a {
          display: flex;
          gap: 1rem;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  right: 0 !important;
}

.responsive__navbar {
  position: fixed;
  top: 117px;
  right: -350px;
  /* height: 99%; */
  width: 68%;
  background-color: #0b0b0b;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
  color: white;
  padding: 0rem 0;
  margin-right: 9px;
  .brand {
    display: flex;
    margin-bottom: 2rem;
    h2 {
      font-size: 1.2rem;
      span {
        margin-left: 0.5rem;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        color: #45b649;
      }
    }
  }
  .links {
    ul {
      margin: 2vw;
      li {
        margin: 2vh;
        a {
          text-decoration: none;
          color: inherit;
        }
        font-size: 2.5vh;
        cursor: pointer;
      }
      ul {
        display: flex;
      }
    }
  }
}

.defaultMargin {
  margin: 0 14rem;
}
